apiVersion: template.openshift.io/v1
kind: Template
metadata:
  name: relationships
objects:
  - apiVersion: authzed.com/v1alpha1
    kind: SpiceDBCluster
    metadata:
      name: ${CLOWDAPP_NAME}-spicedb
    spec:
      config:
        logLevel: debug
        replicas: 1
        datastoreEngine: postgres
        datastoreBootstrapFiles: /etc/bootstrap/schema.yaml
      secretName: dev-spicedb-config
      patches:
      - kind: Deployment
        patch:
          spec:
            template:
              spec:
                volumes:
                - name:  bootstrap
                  configMap:
                    name: spicedb-schema
                containers:
                - name: spicedb
                  volumeMounts:
                  - name: bootstrap
                    mountPath: /etc/bootstrap      
  - apiVersion: cloud.redhat.com/v1alpha1
    kind: ClowdApp
    metadata:
      name: ${CLOWDAPP_NAME}
      namespace: ${NAMESPACE}
    spec:
      envName: ${ENV_NAME}
      replicas: 1
      deployments:
        - name: relationships
          podSpec:
            image: ${IMAGE}:${IMAGE_TAG}
            livenessProbe:
              httpGet:
                path: /api/authz/livez
                port: 8000
            readinessProbe:
              httpGet:
                path: /api/authz/readyz
                port: 8000
            env:
              - name: SPICEDB_PRESHARED
                valueFrom:
                  secretKeyRef:
                    key: preshared_key
                    name: dev-spicedb-config
              - name: SPICEDB_ENDPOINT
                value: relationships-spicedb.${NAMESPACE}.svc.cluster.local:50051
          webServices:
            public:
              enabled: true
              apiPath: authz
parameters:
  - description: Name of the ClowdApp
    name: CLOWDAPP_NAME
    value: relationships
  - description : ClowdEnvironment name
    name: ENV_NAME
    value: insights-ephemeral
  - description: Namespace to deploy into
    name: NAMESPACE
    value: ${NAMESPACE}
  - description: App Image
    name: IMAGE
    value: ${IMAGE}
  - description: Image Tag
    name: IMAGE_TAG
    value: ${IMAGE_TAG}
