# See https://yamllint.readthedocs.io/en/stable/configuration.html
extends: default

rules:
  document-start: disable  
  indentation:
    indent-sequences: whatever
  line-length:
    max: 80
    level: warning
