name: buf-pull-request
on: pull_request
permissions:
  contents: read
  pull-requests: write
jobs:
  build:
    name: Check protos
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: bufbuild/buf-action@v1
        with:
          format: false
          lint: true
          breaking: true
          input: "api"